.divisao {
    display:block;
    background-color: silver;
    border: 1px, solid, black;
    border-radius: 15px;
    padding: 10px;
    margin-right: 50px
}

.separar{
    display: flex;
    margin-left: 37px;
    justify-content: center;
}

#mudarp:hover{
    background-color: red;
}

#mudarc:active{
    background-color: red;
}

.hprimeiro{
    border-color: red;
    outline-color: blue;
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border-width: 10px;
    border-style: solid;
    outline-style: solid;
    outline-width: 10px;
    margin: 50px;
}

.hsegundo {
    border-color: blue;
    outline-color: red;
    display: inline-block;
    width: 300px;
    height: 50px;
    background-color: lightgray;
    border-width: 10px;
    border-style: solid;
    outline-style: solid;
    outline-width: 10px;
    margin: 50px;
}

a{
    text-decoration: none;
    color: black
    
}

a::before {
    content: "✵ ";
    color: #555;
}

a::after {
    content: "✵ ";
    color: #555;
}

a:hover{
    color: blueviolet;
}


